*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  border: 2px solid black;
  width: 15rem;
  height: 27rem;
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}